body {
  /*background-image: url("space.jpg");*/
  background-color: #fdc7ed;
  background-attachment: fixed;
  font-family: sans-serif;
  color: #fc9dde;
  font-size: 20px;
}


.box {
  border: solid #b888a9 4px;
  background-color: #edb7dd;
  border-radius: 0px;
  color: black;
  margin: 10px;
}

.bigred {
  color: red;
  font-size: 40px;
  font-style: italic;
}

a {
  color: #eb83ca;
  text-decoration: underline;
}


/*centers content*/
.center {
  text-align: center;
  vertical-align: center;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: #fc9dde;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 20px;
  word-wrap: break-word;
}

li {
  list-style-type: none;
}
